@use "sass:color";
@use '@/hooks/Mapper/components/map/styles/eve-common-variables';
@use '@/hooks/Mapper/components/map/styles/solar-system-node' as v;

@keyframes move-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 30px 0;
  }
}

/*
@property --animate-border-angle {  //fanaberiatracker - do krecenia animowanej ramki systemu AKTYWNEGO/KILKNIETEGO
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes animate-border-rotate {  //fanaberiatracker - do krecenia animowanej ramki systemu AKTYWNEGO/KILKNIETEGO
      0% {--animate-border-angle: var(--fanaberia-animate-border-angle-0);}
    100% {--animate-border-angle: var(--fanaberia-animate-border-angle-100);}
    }
*/

@property --animate-border-angle {  //fanaberiatracker - do krecenia animowanej ramki systemu AKTYWNEGO/KILKNIETEGO
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes animate-border-rotate {  //fanaberiatracker - do krecenia animowanej ramki systemu AKTYWNEGO/KILKNIETEGO
  //0% {--animate-border-angle: var(--fanaberia-system-selected-animate-border-angle-0);}
  0% {--animate-border-angle: 0deg;}
  //100% {--animate-border-angle: var(--fanaberia-system-selected-animate-border-angle-100);}
  100% {--animate-border-angle: 360deg;}
}


  @property --outline-puls-progress { //fanaberiatracker - do pulsowania outlinu systemu AKTYWNEGO/KILKNIETEGO
  syntax: "<number>";
  initial-value:  0;
  inherits: false;
}
  @keyframes animate-color-puls {  //fanaberiatracker - do pulsowania outlinu systemu AKTYWNEGO/KILKNIETEGO
  0% {--outline-puls-progress: 0;}
  100% {--outline-puls-progress: 1;}
}

.RootCustomNode { //fanaberiatracker - domyslnma konfiguracja ramki systemowej
  display: flex;
  width: 130px; //szerokosc
  height: 34px; //wysokosc

  font-family: var(--rf-node-font-family, inherit) !important;
  font-weight: var(--rf-node-font-weight, inherit) !important;

  flex-direction: column;
  padding: 2px 6px;
  font-size: 10px;

  background-color: var(--rf-node-bg-color, #202020) !important; //szare tlo
  color: var(--rf-text-color, #ffffff); //toto nie mam pojecia za co dpowiada

  box-shadow: 0 0 5px rgba(v.$dark-bg, 0.5);
  border: 1px solid color.adjust(v.$pastel-blue, $lightness: -10%); //grubosc ramki domyslnej
  border-radius: 5px; //zaokraglenie ramki na rogach wiecej = okraglejsza
  position: relative;
  z-index: 3;
  overflow: hidden;

  &.Pochven,
  &.Mataria,
  &.Amarria,
  &.Gallente,
  &.Caldaria {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: 50% 50%;
      z-index: -1;
      background-repeat: no-repeat;
      border-radius: 3px;
    }
  }

  &.Mataria {
    &::after {
      background-image: url('/images/mataria-180.png');
      opacity: 0.6;
      background-position-x: 1px;
      background-position-y: -14px;
    }
  }

  &.Caldaria {
    &::after {
      background-image: url('/images/caldaria-180.png');
      opacity: 0.6;
      background-position-x: 1px;
      background-position-y: -10px;
    }
  }

  &.Amarria {
    &::after {
      opacity: 0.45;
      background-image: url('/images/amarr-180.png');
      background-position-x: 0;
      background-position-y: -13px;
    }
  }

  &.Gallente {
    &::after {
      opacity: 0.5;
      background-image: url('/images/gallente-180.png');
      background-position-x: 1px;
      background-position-y: 0;
    }
  }

  &.Pochven {
    &::after {
      opacity: 0.8;
      background-image: url('/images/pochven.webp');
      background-position-x: 0;
      background-position-y: -13px;
    }
  }
    /*
    &.selected { //fanberiatracker - kreskowany PULSUJACY outline systemu AKTYWNEGO/KILKNIETEGO (tylko fanaberia)
    --outline-puls: color-mix(in srgb, var(--fanaberia-system-selected-animate-outline-puls-100) calc(var(--outline-puls-progress) * 100%), var(--fanaberia-system-selected-animate-outline-puls-0));
    border-color: v.$pastel-pink;
    outline: var(--fanaberia-system-selected-border-outline-width) dashed var(--outline-puls);
    outline-offset: var(--fanaberia-system-selected-border-outline-offset);
    animation: animate-color-puls 1s ease-in-out infinite alternate;
    box-shadow: var(--fanaberia-system-selected-border-shadow);
  }
  */
  /*
  &.selected { //fanberiatracker - animowana ramka systemu AKTYWNEGO/KILKNIETEGO (na wszsytkich themach)
    border-image: conic-gradient(from var(--animate-border-angle), #1e93ffae 0deg 90deg, #ffffffae 90deg 180deg, #1e93ffae 180deg 270deg, #ffffffae 270deg 360deg) 1 stretch;
    border-image-width: 1px;
    animation: animate-border-rotate 2s linear infinite;
    box-shadow: var(--fanaberia-system-selected-border-shadow);
  }
  */
  /*
  &.selected { //fanberiatracker - animowana ramka systemu AKTYWNEGO/KILKNIETEGO (tylko fanaberia)
  --color-primary: var(--fanaberia-system-selected-animate-outline-puls-0);
  --color-secondary: var(--fanaberia-system-selected-animate-outline-puls-100);
  --step: 90deg;
    border-image: repeating-conic-gradient(from var(--animate-border-angle), var(--color-primary) 0deg var(--step), var(--color-secondary) var(--step) calc(var(--step) * 2)) 1 stretch;
    border-image-width: 1px;
    animation: animate-border-rotate 2s linear infinite;
    box-shadow: var(--fanaberia-system-selected-border-shadow);
  }
 */
/*
&.selected { //fanaberiatracker - poaczenie obydwu animowanych ramek aby dzialaly jednoczesnie
  --outline-puls: color-mix(in srgb, var(--fanaberia-system-selected-animate-outline-puls-100) calc(var(--outline-puls-progress) * 100%), var(--fanaberia-system-selected-animate-outline-puls-0));
  --color-primary: var(--fanaberia-system-selected-animate-outline-puls-0);
  --color-secondary: var(--fanaberia-system-selected-animate-outline-puls-100);
  --step: 90deg;
  border-color: v.$pastel-pink;
  border-image: repeating-conic-gradient(from var(--animate-border-angle), var(--color-primary) 0deg var(--step), var(--color-secondary) var(--step) calc(var(--step) * 2)) 1 stretch;
  border-image-width: 1px;
  outline: var(--fanaberia-system-selected-border-outline-width) dashed var(--outline-puls);
  outline-offset: var(--fanaberia-system-selected-border-outline-offset);
  box-shadow: var(--fanaberia-system-selected-border-shadow);
  animation: animate-color-puls 1s ease-in-out infinite alternate, animate-border-rotate 2s linear infinite;
}*/

  &.selected {
  border-color: v.$pastel-pink;
  border-image-width: 1px;
  position: relative;
  box-shadow: var(--fanaberia-system-selected-border-shadow);

    :global(body.fanaberia-border-active) & {
      --color-primary: var(--fanaberia-system-selected-animate-border-puls-0);
      --color-secondary: var(--fanaberia-system-selected-animate-border-puls-100);
      --step: 90deg;
      border-image: repeating-conic-gradient(from var(--animate-border-angle), var(--color-primary) 0deg var(--step), var(--color-secondary) var(--step) calc(var(--step) * 2)) 1 stretch;
      animation: animate-border-rotate 2s linear infinite !important;
    }

      :global(body.fanaberia-outline-active) & {
      --outline-puls: color-mix(in srgb, var(--fanaberia-system-selected-animate-outline-puls-100) calc(var(--outline-puls-progress) * 100%), var(--fanaberia-system-selected-animate-outline-puls-0));
      outline: var(--fanaberia-system-selected-border-outline-width) dashed var(--outline-puls) !important;
      outline-offset: var(--fanaberia-system-selected-border-outline-offset) !important;
      box-shadow: var(--fanaberia-system-selected-border-shadow) !important;
      animation: animate-color-puls 1s ease-in-out infinite alternate !important;
    }
      :global(body.fanaberia-border-active.fanaberia-outline-active) & {
      animation: animate-color-puls 1s ease-in-out infinite alternate, animate-border-rotate 2s linear infinite !important;
    }
  }
  &.rally { //fanaberiatracker - animacja i tlo systemu oznaczonego jako PING
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;

      border-color: v.$neon-color-1;
      background: var(--fanaberia-system-status-kolor-RALLY);
      /*
      background: repeating-linear-gradient(
          45deg,
          v.$neon-color-3 0px,
          v.$neon-color-3 8px,
          transparent 8px,
          transparent 21px
      );*/
      background-size: 30px 30px;
      animation: move-stripes 3s linear infinite;
    }
  }

  &.eve-system-status-home { //fanaberiatracker - tlo systemu oznaczonego jako HOME
    border: 1px solid var(--eve-solar-system-status-color-home-dark30);
    //background-image: linear-gradient(45deg, var(--eve-solar-system-status-color-background), transparent);
    background-image: var(--fanaberia-system-status-kolor-HOME);
    &.selected {
      border-color: var(--eve-solar-system-status-color-home);
      @extend .selected; //fanaberia - zasysa klase SELECTED dla tego typu systemu
    }
  }

  &.eve-system-status-friendly { //fanaberiatracker - tlo systemu oznaczonego jako FIRENDLY
    border: 1px solid var(--eve-solar-system-status-color-friendly-dark20);
    //background-image: linear-gradient(275deg, var(--eve-solar-system-status-friendly-dark30), transparent);
    background-image: var(--fanaberia-system-status-kolor-FRIENDLY);
    &.selected {
      border-color: var(--eve-solar-system-status-color-friendly-dark5);
      @extend .selected; //fanaberia - zasysa klase SELECTED dla tego typu systemu
    }
  }

  &.eve-system-status-lookingFor { //fanaberiatracker - tlo systemu oznaczonego jako LOOKING FOR
    border: 1px solid var(--eve-solar-system-status-color-lookingFor-dark15);
    //background-image: linear-gradient(275deg, #45ff8f2f, #457fff2f);
    background-image: var(--fanaberia-system-status-kolor-LOOKINGFOR);
    &.selected {
      border-color: v.$pastel-pink;
      @extend .selected; //fanaberia - zasysa klase SELECTED dla tego typu systemu
    }
  }

  &.eve-system-status-warning { //fanaberiatracker - tlo systemu oznaczonego jako WARNING
    //background-image: linear-gradient(275deg, var(--eve-solar-system-status-warning), transparent);
    background-image: var(--fanaberia-system-status-kolor-WARNING);
  }

  &.eve-system-status-dangerous { //fanaberiatracker - tlo systemu oznaczonego jako DANGROUS
    //background-image: linear-gradient(275deg, var(--eve-solar-system-status-dangerous), transparent);
    background-image: var(--fanaberia-system-status-kolor-DANGEROUS);
  }

  &.eve-system-status-target { //fanaberiatracker - tlo systemu oznaczonego jako TARGET
    //background-image: linear-gradient(275deg, var(--eve-solar-system-status-target), transparent);
    background-image: var(--fanaberia-system-status-kolor-TARGET);
  }
}

.Bookmarks {
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
  left: 4px;

  & > .Bookmark { //fanaberiatracker - tutaj jest rozmiar tej tabliczki z custom labelka
    min-width: 13px;
    height: 22px;
    position: relative;
    top: -17px; //fanaberia - jak bardzo ta tabliczka wystaje
    border-radius: 5px;
    color: #ffffff;
    font-size: 8px;
    text-align: center;
    padding-top: 2px;
    font-weight: bolder;
    padding-left: 3px;
    padding-right: 3px;

    &:not(:first-child) {
      box-shadow: inset 4px -3px 4px rgba(0, 0, 0, 0.3);
    }
  }

  .BookmarkWithIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    padding-right: 2px;

    & > .icon {
      width: 8px;
      height: 8px;
      font-size: 10px;
    }

    & > .text {
      margin-top: 1px;
      font-size: 10px;
    }
  }
}

.Unsplashed {  //fanaberiatracker - te male znaczniki o nieprzeskoczonym wormholu
  position: absolute;
  width: calc(50% - 4px);
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  gap: 2px;
  left: 2px;

  &--right {
    left: calc(50% + 6px);
  }

  & > .Signature {
    width: 13px;
    height: 4px;
    position: relative;
    top: 3px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 8px;
    text-align: center;
    padding-top: 2px;
    font-weight: bolder;
    padding-left: 3px;
    padding-right: 3px;
    display: block;

    background-color: #833ca4;

    &:not(:first-child) {
      box-shadow: inset 4px -3px 4px rgba(0, 0, 0, 0.3);
    }
  }
}

.icon {
  width: 8px;
  height: 8px;
  font-size: 10px;
}

.HeadRow { //fanaberiatracker - nazwa systemu aka gorna linijka
  display: flex;
  align-items: center;
  gap: 3px;
  //font-size: 11px;
  line-height: 14px;
  font-weight: 500;
  font-size: var(--fanaberia-system-name-text-size);
  // text-shadow: var(--fanaberia-system-name-shadow); to tutaj nie zadziala wstawic w .classsystemname
  position: relative;
  top: 1px;

  .classTitle { //fanaberiatracker - osnaczenie klasy/sec status systemu
    //font-size: 11px;
    //text-shadow: 0 0 2px rgb(0 0 0 / 73%);
    font-weight: bold;
    font-size: var(--fanaberia-class-text-size);
    text-shadow: var(--fanaberia-class-text-shadow);
  }

  .TagTitle { //fanaberiatracker - tabliczka z tagiem systemu
    //font-size: 11px;
    //font-weight: 500;
    font-size: var(--fanaberia-tag-text-size);
    font-weight: var(--fanaberia-tag-text-weight);
    background-color: var(--fanaberia-tag-text-backgroundcolor);
    text-shadow: 0 0 2px rgba(231, 146, 52, 0.73);
    color: var(--rf-tag-color, #38bdf8); //kolor litery zaciaga pliku -theme
  }

  /* Firefox kostyl */
  //@-moz-document url-prefix() {
    .classSystemName { //fanaberiatracker - to co sie wyswietla jako nazwa systemu + manipulacja czcionkami
      font-weight: bold;
      text-shadow: var(--fanaberia-system-name-shadow);
    }
  //}
}

.BottomRow { //fanaberiatracker - te male znaczki u dolu systemu
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 19px;
  text-shadow: var(--fanaberia-icons-shadow);

  .hasLocalCounter {
    margin-right: 2px;
    &.countAbove9 {
      margin-right: 1.5rem;
    }
  }

  .lockIcon {
    font-size: 0.45rem;
    font-weight: bold;
    position: relative;
  }

  .mapMarker {
    font-size: 0.45rem;
    font-weight: bold;
    position: relative;
  }
}

.effect { //fanaberiatracker - efekt systemu
  //width: 8px;
  //height: 8px;
  width: var(--fanaberia-system-effect-size);
  height: var(--fanaberia-system-effect-size);
  margin-top: -2px;
  box-sizing: border-box;
  border-radius: 2px;
  margin-left: 1px;
  box-shadow: var(--fanaberia-system-effect-border);
}

.statics { //fanaberiatracker - to manipuluje lista statykow ale jeszcze nei wiem jak dziala
  display: flex;
  gap: 2px;
  //font-size: 8px;
  font-size: var(--fanaberia-statyk-text-size);
  //-webkit-text-stroke: 0.5px black; //tylko to dziala
  //text-shadow: var(--fanaberia-statyk-text-shadow); //w tej sekcji to nie dziala
  //dodalem wlasciwosc w eve-common.scss

  & > * {
    line-height: 10px;
  }

  /* Firefox kostyl */
  @-moz-document url-prefix() {
    position: relative;
    top: -1px;
  }
}

.Handlers {
  position: absolute;
  z-index: 4;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Handle {  //fanaberiatracker - te male kropeczki dfo polaczen jak sie na system najedzie
  min-width: initial;
  min-height: initial;
  border: 1px solid v.$pastel-blue;
  width: 8px;
  height: 8px;
  pointer-events: auto;

  &.selected {
    border-color: v.$pastel-pink;
  }

  &.HandleTop {
    top: -2px;
  }

  &.HandleRight {
    right: -2px;
  }

  &.HandleBottom {
    bottom: -2px;
  }

  &.HandleLeft {
    left: -2px;
  }

  &.Tick {
    width: 7px;
    height: 7px;

    &.HandleTop {
      top: -3px;
    }

    &.HandleRight {
      right: -3px;
    }

    &.HandleBottom {
      bottom: -3px;
    }

    &.HandleLeft {
      left: -3px;
    }
  }
}

.ShatteredIcon {
  position: relative;
  //top: -1px;
  left: -1px;

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url(/images/chart-network-svgrepo-com.svg)
}
