//yo mamma so fat when she takes the gate she can be seen on both locals

@use './eve-common-variables';
@use './eve-common';
@use "sass:color";

//fanaberia - komentarz do konkretnej zmiennej
//fanaberiatracker - tag do sledzenia zmiennych ktore wiem co robia i sa istotne aby o nich wiedziec
//fanaberiacomment - komentarz z dupy ktory uznalem je jest w tym miejscu potrzebny
//fanaberiatodo - lista zyczen do zrobienia



.fanaberia-theme {
  --rf-bg-color: #0C0A09;
  --rf-soft-bg-color: #171717;

  --rf-node-bg-color: #202020;
  --rf-node-soft-bg-color: #202020;
  --rf-text-color: #ffffff;
  --rf-tag-color:  #000000;  //tu zmiana koloru litery na TAGu systemu
  --rf-region-name: #D6D3D1;
  --rf-custom-name: #93C5FD;
  --rf-node-font-family: 'Shentox', 'Rogan', sans-serif !important;
  --rf-node-font-weight: 500;

  --rf-bg-variant: "dots";
  --rf-bg-gap: 15;
  --rf-bg-size: 1;
  --rf-bg-pattern-color: #81818a;

  --pastel-blue: #5a7d9a;
  --pastel-pink: #d291bc;
  --pastel-green: #88b04b;
  --pastel-yellow: #ffdd59;

  --dark-bg: #2d2d2d;
  --text-color: #ffffff;
  --tooltip-bg: #202020;

  --window-corner: #72716f;

  --rf-local-counter-font-weight: 500;
  --rf-node-local-counter: inherit;
  --rf-has-user-characters: #ffc75d;


  //=========== nowe zmienne

$friendlyBase: #3bbd39;
$friendlyAlpha: #3bbd3952;
$friendlyDark20: color.adjust($friendlyBase, $lightness: -20%);
$friendlyDark30: color.adjust($friendlyBase, $lightness: -30%);
$friendlyDark5:  color.adjust($friendlyBase, $lightness: -5%);

$lookingForBase: #43c2fd;
$lookingForAlpha: #43b0fd7a;
$lookingForDark15: color.adjust($lookingForBase, $lightness: -15%);

/*

$homeBase: #9aff00;
$homeAlpha: #b0ff0099;
$homeBackground: #73ff0057;
$homeDark30: color.adjust($homeBase, $lightness: -30%);

  --eve-solar-system-status-unknown: transparent;
  --eve-solar-system-status-color-unknown: transparent;
  --eve-solar-system-status-home:                #{$homeAlpha};
  --eve-solar-system-status-color-home:          #{$homeBase};
  --eve-solar-system-status-color-background:    #{$homeBackground};
  --eve-solar-system-status-color-home-dark30:   #{$homeDark30};
  --eve-solar-system-status-friendly:            #{$friendlyAlpha};
  --eve-solar-system-status-color-friendly:      #{$friendlyBase};
  --eve-solar-system-status-friendly-dark30:     #{$friendlyDark30};
  --eve-solar-system-status-color-friendly-dark20: #{$friendlyDark20};
  --eve-solar-system-status-color-friendly-dark5:  #{$friendlyDark5};
  --eve-solar-system-status-lookingFor:              #{$lookingForAlpha};
  --eve-solar-system-status-color-lookingFor:        #{$lookingForBase};
  --eve-solar-system-status-color-lookingFor-dark15: #{$lookingForDark15};
*/

  --eve-solar-system-status-warning: #ff8400a6;
  --eve-solar-system-status-color-warning: #ff7100;
  --eve-solar-system-status-target: #9e00ffa6;
  --eve-solar-system-status-color-target: #9e00ff;
  --eve-solar-system-status-dangerous: #ff0000a6;
  --eve-solar-system-status-color-dangerous: #ff0000;



  --fanaberia-system-status-kolor-HOME: linear-gradient(330deg, #04ff00a6, #001c30ff, #04ff00a6, #001c30ff);
  --fanaberia-system-status-kolor-FRIENDLY: linear-gradient(330deg, #3bbd39a6, #001c30ff, #3bbd39a6, #001c30ff);
  --fanaberia-system-status-kolor-WARNING: linear-gradient(330deg, #ffa200a6, #001c30ff, #ffa200a6, #001c30ff);
  --fanaberia-system-status-kolor-DANGEROUS: linear-gradient(330deg, #ff2c2ca6, #001c30ff, #ff2c2ca6, #001c30ff);
  --fanaberia-system-status-kolor-TARGET: linear-gradient(330deg, #ab00ffa6, #001c30ff, #ab00ffa6, #001c30ff);
  --fanaberia-system-status-kolor-LOOKINGFOR: linear-gradient(330deg, #006aefa6, #001c30ff, #006aefa6, #001c30ff);



  --fanaberia-connection-border-width: 8px; //zmiana grubosci ramki polaczenia
  --fanaberia-connection-border-width-thick: 14px; //zmiana grubosci ramki polaczenia -THICK
  --fanaberia-connection-border-dasharray: 10 10; //ramka kreskowana dla time-kryta ????
  --fanaberia-connection-width: 4px; //zmiana grubosci kreski polaczenia
  --fanaberia-connection-width-thick: 8px; //zmiana grubosci kreski polaczenia - THICK

  --fanaberia-system-selected-border-outline: 2px dashed #1e93ffae;
  --fanaberia-system-selected-border-outline-offset: 2px;
  --fanaberia-system-selected-border-shadow:  0 0 30px #1e68ffae;

  --fanaberia-tag-text-size: 12px;
  --fanaberia-tag-text-weight: 700;
  --fanaberia-tag-text-backgroundcolor: #ffff00;

  --fanaberia-class-text-size: 13px;
  --fanaberia-class-text-shadow: 1px 0 #0e0e0e, 0 1px #0e0e0e, -1px 0 #0e0e0e, 0 -1px #0e0e0e;
  --fanaberia-system-name-text-size: 13px;
  --fanaberia-system-name-shadow: 1px 0 #0e0e0e, 0 1px #0e0e0e, -1px 0 #0e0e0e, 0 -1px #0e0e0e;
  --fanaberia-system-effect-size: 8px;
  --fanaberia-system-effect-border: 1px 0 #0e0e0e, 0 1px #0e0e0e, -1px 0 #0e0e0e, 0 -1px #0e0e0e;
  --fanaberia-statyk-text-size: 12px;
  //--fanaberia-statyk-text-shadow: 1px 0 #0e0e0e, 0 1px #0e0e0e, -1px 0 #0e0e0e, 0 -1px #0e0e0e;
  //--fanaderia-statyk-text-shadow: -webkit-text-stroke: 0.4px black;
  //--fanaberia-icons-size: ; //na rasie nie dotykac
  --fanaberia-icons-shadow: 1px 0 #0e0e0e, 0 1px #0e0e0e, -1px 0 #0e0e0e, 0 -1px #0e0e0e;




//fanaberiacomment - lista parametrow do rozwoju na pryszlosc aby zmieniac tez rozmiar cczcionek tylko na stylu (aktualnie zmienilem czcionke dla calej szaty, nawet defaulta)

  //fanaberia-system-class-hisek: "H";
  //fanaberia-system-class-hisek: "L";
  //fanaberia-system-class-hisek: "0.0";
  //fanaberia-system-class-pochven: "T";

  //fanaberiatodo - zrobic gradienty dla pozostalych systemow z przekazaniem zmiennej przez common-variables.
  //
  //--fanaberia-system-background-gradient-home: ;
  //--fanaberia-system-background-gradient-firendly: ;
  //--fanaberia-system-background-gradient-warning: ;
  //--fanaberia-system-background-gradient-target: ;

  //fanaberiatodo - zrobic zmiane czcionki z przekazaniem parametru przez common-variables
  //
  //--fanaberia-font-size-systemname: ;
  //--fanaberia-font-weight-systemname: ;
  //--fanaberia-font-size-customname: ;
  //--fanaberia-font-weight-customname: ;
  //--fanaberia-font-size-statics: ;
  //--fanaberia-font-weight-statics: ;
  //--fanaberia-font-size-systemclass: ;
  //--fanaberia-font-weight-systemclass: ;




}
